{{> header.hbs}}
<h1>Anamnese</h1>
<style>
    .image {
        cursor: pointer
    }
</style>
<div class="col-md-4">
    <form id="edit-anamnese">
        <div class="form-group">
            <label for="medic">Médico:</label>
            <span id="medic" name="medic">{{medic.name}}</span>
        </div>

        <div class="form-group">
            <label for="patient">Paciente:</label>
            <span id="patient" data-id="{{patient.id}}" name="patient">{{patient.name}}</span>
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <span id="date" name="date">
                {{data.date}}
            </span>
        </div>

        <div class="form-group">
            <label for="drugs">Remédios:</label>
            <textarea id="drugs" name="drugs" data-id="{{data.id}}" class="form-control">{{data.drugs}}</textarea>
        </div>

        <div class="form-group">
            <label for="orders">Pedidos:</label>
            <textarea id="orders" name="orders" data-id="{{data.id}}" class="form-control">{{data.orders}}</textarea>
        </div>

        <div class="form-group">
            <label for="images">Imagens:</label>

            <div id="images"></div>
        </div>

        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Editar">
            <a class="btn btn-warning" href="/patients/{{data.patients_id}}">Voltar</a>
        </div>
    </form>
</div>
<script>
    $(function () {

        $.ajax({
            url: '/images/' + $('#drugs').attr('data-id'),
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            statusCode: {
                200: function (json) {
                    $.each(json, function (i, item) {
                        $('#images').append($('<img>')
                                        .attr('id', item.id)
                                        .attr('class', 'image')
                                        .attr('src', item.src)
                                        .attr('width', 150)
                                        .attr('height', 150)
                                        .click(function () {
                                            var obj = $(this);
                                            var answer = confirm("Deletar?");
                                            if (answer) {
                                                $.ajax({
                                                    url: '/images/' + obj.attr('id'),
                                                    type: 'DELETE',
                                                    contentType: 'application/json',
                                                    dataType: 'json',
                                                    statusCode: {
                                                        200: function (json) {
                                                            obj.remove();
                                                        }
                                                    }
                                                });
                                            }
                                        })
                        )
                    });
                }
            }
        });

        $("#edit-anamnese").submit(function (event) {
            event.preventDefault();
            var drugs = $('#drugs');
            var formData = {
                orders: $('#orders').val(),
                drugs: drugs.val()
            };
            $.ajax({
                url: "/anamneses/" + drugs.attr('data-id'),
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                dataType: 'json',
                statusCode: {
                    200: function () {
                        document.location = "/patients/" + $('#patient').attr('data-id');
                    }
                }
            });
        });
    });
</script>
{{> footer.hbs}}