{{> header.hbs}}
    <h1>Clientes</h1>
    <div class="btn-group">
        <a class="btn btn-primary" href="/customers/new">Criar um novo Cliente</a>
        <a class="btn btn-warning" href="/">Voltar</a>
    </div>
    <br>
    <br>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Deletar?</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/customers/{{id}}">{{name}}</a></td>
            <td>{{email}}</td>
            <td><a class="btn btn-danger btn-sm" href="/customers/{{id}}/delete"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
        {{/each}}
    </table>

    {{#if delete}}
        <div class="success">Cliente deletado com sucesso</div>
    {{/if}}
{{> footer.hbs}}