{{> header.hbs}}
<h1>Paciente</h1>
<div class="col-md-4">
    <form method="POST" action="/patients/{{data.id}}/edit">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{data.name}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="name">Email:</label>
            <input type="email" id="email" name="email" value="{{data.email}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Idade:</label>
            <input type="number" id="age" name="age" value="{{data.age}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Sexo:</label>
            <input type="text" id="gender" name="gender" value="{{data.gender}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Cidade:</label>
            <input type="text" id="city" name="city" value="{{data.city}}" class="form-control">
        </div>
        {{#if anamneses}}
            <div class="form-group">
                <label for="name">Histórico:</label>
                <table class="table table-hover">
                    <tr>
                        <th>Data</th>
                    </tr>
                    {{#each anamneses}}
                        <tr>
                            <td><a href="/anamneses/{{id}}">{{date}}</a></td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        {{/if}}
        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Editar">
            <a class="btn btn-warning" href="/patients">Voltar</a>
        </div>
    </form>
</div>
{{> footer.hbs}}